.film-container {
  background-color: white;
  max-width: 53rem;
  min-height: 30.6rem;
  position: relative;
  padding: 0.7rem;
  border-radius: 0.6rem;
  box-shadow: 0 0 0.5rem rgba(1, 9, 83, 0.2);
}

.film-container h1 {
  text-align: center;
  margin-top: 1rem;
}

.film-container h2 {
  margin-top: -0.3rem;
  margin-bottom: 1rem;
  text-align: center;
}

.film-layout {
  display: flex;
}

.film-maindisplay-image {
  height: 15rem;
  margin-right: 1rem;
  margin-left: 2rem;
  margin-top: 0.3rem;
  filter: drop-shadow(0 0 0.75rem rgb(215, 242, 254));
}

.film-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 2rem
}

.film-details-bottom {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 1rem 2rem;
}
