.nausicaa-info-box {
  background-color: #f0fbff;
  padding: 1.4rem;
  border-radius: 0.6rem;
  box-shadow: 0 0 0.5rem rgba(87, 119, 141, 0.2);
  margin: 0.5rem auto 4rem;
  max-width: 56.5rem;
  font-size: 0.9rem;
}

.nausicaa-info-box button {
  border: transparent;
  background-color: transparent;
  font-size: 1.4rem;
  cursor: pointer;
  color: #222222;
}

.dropdown-initial-text {
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  font-weight: 600;
}

.dropdown-info {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.nausicaa-headers {
  margin-bottom: 0.8rem;
  text-align: center;
}

.nausicaa-image {
  height: 15rem;
  margin-right: 1rem;
  margin-top: 0.3rem;
  filter: drop-shadow(0 0 0.75rem rgb(215, 242, 254));
}

.nausicaa-image-and-description {
  display: flex;
}

.nausicaa-film-details-bottom {
  margin-top: 1.2rem;
  display: flex;
  justify-content: space-between;
}

.bolder-text {
  font-weight: 600;
}
