nav {
  display: flex;
  background-color: #00adef;
  align-items: center;
  padding: 0.7rem;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.1);
}

.navbar-header {
  margin-right: auto;
  margin-left: 2rem;
}

.navbar-image {
  height: 4.7rem;
  margin-top: -1rem;
}
