.previous-btn,
.next-btn {
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  margin: 0 0.5rem;
  color: #008abf;
}

.previous-btn:hover,
.next-btn:hover {
  opacity: 0.8;
  transition: 0.3s;
}
