.sidebar {
  background-color: white;
  width: 19rem;
  height: 30.6rem;
  overflow-y: auto;
  border-radius: 0.6rem;
  box-shadow: 0 0 0.5rem rgba(1, 9, 83, 0.2);
  padding: 1.2rem;
  margin-top: 4.35rem;
}

.sidebar h2 {
  text-align: center;
}

.no-favourites-text {
  font-size: 1rem;
  margin: 0.5rem 0;
}

.no-favourites-image {
  height: 12rem;
  display: block;
  margin: 2rem auto;
}

.remove-favourites-btn {
  font-size: 0.8rem;
  font-weight: 500;
  border: transparent;
  background-color: transparent;
  text-align: left;
  display: block;
}

.remove-all-favourites-btn {
  margin-top: 0.8rem;
  font-size: 0.8rem;
  font-weight: 500;
  border: transparent;
  background-color: transparent;
  text-align: left;
  display: block;
  background-color: rgb(255, 203, 203);
  padding: 0.2rem 0.3rem;
  border-radius: 0.2rem;
}

.remove-all-favourites-btn:hover {
  background-color: rgb(255, 131, 131);
  transition: 0.3s;
  cursor: pointer;
}

.remove-favourites-btn:hover {
  color: rgb(236, 14, 14);
  cursor: pointer;
}

.favourite-btn {
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  color: rgb(236, 14, 14);
  position: absolute;
  top: 2.3rem;
  left: 2.3rem;
}

.favourite-films-list {
  margin-top: 1rem;
}

.favourite-films-list h4 {
  line-height: 1.4rem;
}

.favourite-films-list h5 {
  margin-bottom: 0.5rem;
}

.favourite-films-list img {
  width: 10rem;
}

.sidebar::-webkit-scrollbar {
  width: 0.5rem;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #f1b900;
  border-radius: 0.3rem;
}

.sidebar {
  scrollbar-color: #f1b900 transparent;
  scrollbar-width: thin;
}
