.sidebar {
  background-color: white;
  width: 310px;
  max-height: 558px;
  overflow-y: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(1, 9, 83, 0.2);
  padding: 1.2rem;
}

.sidebar h2 {
  text-align: center;
}

.no-favourites-text {
  font-size: 1rem;
  margin: 0.5rem 0;
}

.no-favourites-image {
  height: 12rem;
  display: block;
  margin: 2rem auto;
}

.remove-favourites-btn {
  font-size: 0.8rem;
  font-weight: 500;
  border: transparent;
  background-color: transparent;
  text-align: left;
  display: block;
}

.remove-favourites-btn:hover {
  color: rgb(236, 14, 14);
  cursor: pointer;
}

.favourite-btn {
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  color: rgb(236, 14, 14);
  position: absolute;
  top: 2.3rem;
  left: 2.3rem;
}

.favourite-films-list {
  margin-top: 1rem;
}

.favourite-films-list h4 {
  line-height: 1.4rem;
}

.favourite-films-list h5 {
  margin-bottom: 0.5rem;
}

.favourite-films-list img {
  width: 10rem;
}

/* scrollbar styling - multiple stylings to accommodate different browsers */

/* chrome, safari */
.sidebar::-webkit-scrollbar {
  width: 8px;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #f1b900;
  border-radius: 4px;
}

/* firefox, brave */
.sidebar {
  scrollbar-width: thin;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #f1b900;
  border-radius: 4px;
}

/* opera, edge */
.sidebar {
  scrollbar-color: #f1b900 transparent;
}
