.sidebar {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  width: 300px;
  max-height: 555px;
  overflow-y: auto;
}

.sidebar p {
  font-size: 0.8rem;
  font-weight: 500;
}

.sidebar p:hover {
  color: rgb(204, 13, 13);
  cursor: pointer;
}

.favourite-btn {
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  color: #c50e0e;
  position: absolute;
  top: 2.3rem;
  left: 2.3rem;
}

.favourite-films-list {
  margin-top: 1rem;
}

.favourite-films-list img {
  width: 10rem;
  border-radius: 4px;
}

/* scrollbar styling - multiple stylings to accommodate different browsers */

/* chrome, safari */
.sidebar::-webkit-scrollbar {
  width: 8px;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #f1b900;
  border-radius: 4px;
}

/* firefox, brave */
.sidebar {
  scrollbar-width: thin;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #f1b900;
  border-radius: 4px;
}

/* opera and edge */
.sidebar {
  scrollbar-color: #f1b900 transparent;
}
